# 自动处理文本文件的换行符
* text=auto

# 明确指定文件类型
*.lua text eol=lf
*.sh text eol=lf
*.htm text eol=lf
*.html text eol=lf
*.txt text eol=lf
*.md text eol=lf
Makefile text eol=lf
*.mk text eol=lf
*.conf text eol=lf

# 脚本文件设置执行权限
*.sh text eol=lf
files/etc/openvpn-admin/*.sh text eol=lf
